:root {
    --bg-button: #423f3f;
    --bg-button-active: #ccc;
    --border-button: solid 1px #888;
    --bg-operation: #261572;
    --bg-operation-active: #d81f1fcc;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    color:#fff;
}

.button:active {
    background-color: var(---bg-button-active);
}

.button.operation {
    background-color: var(--bg-operation);
    color: #fff;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation:active {
    background-color: var(--bg-operation-active);
}